* {
  margin: 0;
  padding: 0; }

h1 {
  font-family: "Militia Sans Fat Italic";
  font-style: italic;
  font-weight: 800;
  line-height: 100%;
  text-transform: uppercase; }

p {
  font-family: "Garamond";
  font-size: 17px;
  line-height: 30px; }

h1.smile {
  font-family: "Times New Roman", "Times", serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: -25px 0 0 -25px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  -webkit-transition: transform 5s linear;
  -moz-transition: transform 5s linear;
  -ms-transition: transform 5s linear;
  -o-transition: transform 5s linear;
  transition: transform 5s linear; }

.structure {
  background-color: #f0f0f0;
  margin: 0 auto;
  padding: 0 20px;
  width: 900px; }

img {
  display: block;
  width: 100%;
  height: auto; }

.page {
  margin: 50px auto 0 auto;
  padding-bottom: 50px;
  width: 600px; }
  .page header.page-header {
    border-bottom: 1px solid black;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    height: 300px; }
    .page header.page-header h1 {
      font-family: "League Gothic";
      font-size: 340px;
      font-style: normal;
      font-weight: 400;
      text-align: center; }
  .page .body p:first-child:first-letter {
    display: block;
    float: left;
    font-family: "League Gothic";
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 200px;
    height: 200px; }
  .page article {
    border-top: 1px solid black;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
    position: relative; }
    .page article header {
      position: absolute;
      top: 30px;
      left: 20px;
      z-index: 2; }
      .page article header h1 {
        font-family: "Militia Sans Fat Italic";
        font-size: 50px;
        font-style: italic;
        font-weight: 800; }
    .page article img {
      float: left;
      margin: 0 20px 20px 0;
      width: 380px;
      height: auto; }

header#primary-nav-wrapper {
  margin-left: -470px;
  padding: 0;
  position: fixed;
  top: 0;
  left: 50%;
  width: 940px;
  height: 50px;
  z-index: 5; }
  header#primary-nav-wrapper hgroup {
    display: none;
    float: left;
    width: 100%;
    height: 50px; }
    header#primary-nav-wrapper hgroup h1 {
      font-family: "League Gothic";
      font-size: 50px;
      font-style: normal;
      font-weight: 400; }
  header#primary-nav-wrapper ul {
    float: left;
    width: 100%;
    height: 50px; }
    header#primary-nav-wrapper ul li {
      background: #c80000;
      color: white;
      cursor: pointer;
      display: none;
      list-style: none;
      line-height: 50px;
      float: left;
      font-family: "League Gothic";
      font-size: 20px;
      font-style: italic;
      line-height: 50px;
      overflow: hidden;
      text-align: center;
      text-transform: uppercase;
      height: 50px;
      -webkit-transition: all 0.25s;
      -moz-transition: all 0.25s;
      -ms-transition: all 0.25s;
      -o-transition: all 0.25s;
      transition: all 0.25s; }
    header#primary-nav-wrapper ul li:hover {
      background-color: #960000; }

header#content-header {
  display: none;
  margin-top: 50px;
  position: relative;
  width: 100%; }
  header#content-header .gloss-gloss {
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: -20px;
    width: 940px;
    height: 100%;
    z-index: 2; }
  header#content-header .gloss {
    background-color: red;
    position: absolute;
    top: 0;
    left: -20px;
    width: 940px;
    height: 100%;
    z-index: 0; }
  header#content-header h1 {
    color: white;
    font-family: "Militia Sans Fat Italic";
    font-size: 150px;
    font-style: italic;
    font-weight: 800;
    line-height: 130px;
    margin-top: -250px;
    position: absolute;
    top: 50%;
    text-align: center;
    text-shadow: 0px 0px 10px black;
    width: 100%;
    height: 390px;
    z-index: 1; }
  header#content-header h2 {
    color: white;
    font-family: "Militia Sans Fat Italic";
    font-size: 50px;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    text-shadow: 0px 0px 10px black;
    text-transform: uppercase;
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 100px;
    z-index: 2; }

.article-section {
  margin: 0 auto;
  padding: 50px 0;
  width: 600px; }
  .article-section p {
    margin: 30px 0; }
  .article-section p:first-child:first-letter {
    display: block;
    float: left;
    font-family: "League Gothic";
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 200px;
    height: 200px; }
